<li>
	{{name}}

    <button class="change-started" data-id="{{id}}" data-havestarted="{{have_started}}">
       {{#if have_started}} <i class="fas fa-step-backward"></i> {{else}} <i class="fas fa-step-forward"></i> {{/if}}
    </button>

    <button class="change-finished" data-id="{{id}}" data-watchedall="{{watched_all}}">
       {{#if watched_all}} <i class="fas fa-fast-backward"></i> {{else}} <i class="fas fa-fast-forward"></i> {{/if}}
    </button>

	<button class="change-liked" data-id="{{id}}" data-liked="{{liked}}">
		{{#if liked}} <i class="fas fa-thumbs-up"></i> {{else}} <i class="fas fa-thumbs-down"></i> {{/if}}
	</button>

	<button class="delete-show" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i>
    </button>
</li>